* {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

svg {
    width: 100%;
}

.map {
    fill: none;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}

.animate {
  animation: dash 1s linear 1 forwards;
}


@keyframes dash {

    to {
        stroke-dashoffset: 0; 
    }
} 
