*{
  padding: 0px;
  margin: 0px;
}

.home {
  position: relative;
}

/* animation apparition home page */

.button-skip-animation {
  color: white;
  z-index: 5;
  position: absolute;
  top: 30px;
  left: 95%;
  cursor: pointer;
  opacity: 20%;
  font-size: 1.7em;
}

#page {
  position: absolute;
  background-size: cover;
  z-index: 1;
  animation: circle1 3s forwards 6.2s;
  background-color: blue;
  clip-path: circle(0%);
  width: 100vw;
  height: 100vh;
  z-index: 11;
}

/*
.white {
  position: absolute;
  background-color: white;
  clip-path: circle(0%);
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  animation: circle2 3.5s forwards 4.5s;
  z-index: 10;
 } 
 */

 .invisible {
  display: none;
 }

@keyframes circle1 {
  0% { 
    clip-path: circle(0%); }
  100% { 
    clip-path: circle(300%); }
}

@keyframes circle2 {
  0% { 
    clip-path: circle(0%); }
  100% { 
    clip-path: circle(300%); }
}

/* animation logo writing salon danse */

.handwriting {
  margin: 0px;
  padding: 0px;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.home svg {
  background-color: black;
}

.home .map {
  fill: none;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  background-color: transparent;
}

.animate-writing {
  animation: text-writing 2s linear forwards 0.5s;
}

@keyframes text-writing {
  to {
    stroke-dashoffset: 0; 
  }
}

.animate-writing-top {
  position: absolute;
  width: 70%;
  left: 15%;
  top: -5%;
  animation: translation-top 2s forwards 6s;
  background-color: transparent;
  z-index: 4;
}

@keyframes translation-top {
  to {
    top: -500px; 
  }
}

/* animation logo silhouette salon danse */

.logo-figure-bottom {
  position: absolute;
  fill: #dd3333;
  background-color: transparent;
  left: 44%;
  top: 44%;
  animation: translation-bottom 2s 6s;
  z-index: 2;
}

.logo-figure img {
  width: 19%;
}

.logo-figure {
  background-color: transparent;
  animation: appear 2s forwards 3s;
  opacity: 0%;
}

/* animation adress salon danse */

.adress-bottom {
  position: absolute;
  top: 77%;
  width: 70%;
  left: 15%;
  font-size: 1.6em;
  color: white;
  text-align: center;
  animation: translation-bottom 2s forwards 6s;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: transparent;
  z-index: 3;
}

.adress {
  animation: appear 2s forwards 3s;
  opacity: 0%;
  background-color: transparent;
}

@keyframes appear {
  to {
    opacity: 100%; 
  }
}  

@keyframes translation-bottom {
  to {
    top: 2000px; 
  }
}

/* responsive ipad */

@media screen and (max-width: 820px) {

  .button-skip-animation {
    top: 40px;
    left: 90%;
  }

  .animate-writing-top {
    width: 90%;
    left: 5%;
    top: 10%;
  }

  .logo-figure-bottom {
    left: 40%;
    top: 45%;
  }

  .logo-figure img {
    width: 34%;
  }

  .adress-bottom {
    top: 73%;
    width: 80%;
    left: 10%;
    font-size: 2em;
  }
}

/* responsive smartphone */

@media screen and (max-width: 465px) {

  .button-skip-animation {
    top: 30px;
    left: 85%;
    font-size: 1em;
  }

  .animate-writing-top {
    width: 90%;
    left: 5%;
    top: 19%;
  }

  .logo-figure-bottom {
    left: 33%;
    top: 40%;
  }

  .logo-figure img {
    width: 50%;
  }

  .adress-bottom {
    top: 67%;
    width: 80%;
    left: 10%;
    font-size: 1.7em;
  }
}