* {
    padding: 0;
    margin: 0;
    background-color: white;
}
.parent {
 position: relative;
}


.box {
  position: absolute;
  z-index: 1;
  animation: circle 3s forwards 4s;
  background-color: white;
  clip-path: circle(0%);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

h1 {
  text-align: center;
  top: 15%;
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes circle {
  0% { 
    clip-path: circle(0%); }
  100% { 
    clip-path: circle(100%); }
}


  
  .handwriting {
    background-color: black;
      width: 100vw;
      height: 100vh;
      position: absolute;
  }

  
  svg {
      width: 100%;
      background-color: black;
  }
  
  .map {
      fill: none;
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
      background-color: black;

  }
  
  .animate {
    animation: text-writing 1.5s linear forwards 0.5s;
    background-color: black;

  }

  .animate2 {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 0px;
    animation: translation-top 2s forwards 3.5s;
    background-color: black;

  }

  .logo-shadow {
    position: absolute;
    background-color: black;
    fill: red;
    width: 10%;
    left: 45%;
    bottom: 30%;
    animation: translation-bottom 2s forwards 3.5s;

  }

  .logo-shadow-down {
    background-color: black;
    animation: appear 3s forwards 1s;
    opacity: 0%;
  }
  
  .adress {
    position: absolute;
    bottom: 100px;
    width: 70%;
    left: 15%;
    color: rgb(181, 42, 42);
    text-align: center;
    animation: translation-bottom 2s forwards 3.5s;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

  }

  .adress-down {
    animation: appear 1s forwards 0.5s;
    opacity: 0%;
    background-color: black;

  }
  
  @keyframes appear {
    to {
        opacity: 100%; 
    }
} 

  @keyframes text-writing {
      to {
          stroke-dashoffset: 0; 
      }
  } 
  
  @keyframes translation-top {
    to {
      top: -500px; }
  }

  @keyframes translation-bottom {
    to {
      bottom: -500px; }
  }