* {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.handwriting {
    width: 70%;
    z-index: 999
}

.black-block {
    z-index: 998;
    width: 100vw;
    height: 100vh;
}

svg {
    width: 100%;
}

.map {
    fill: none;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}

.animate {
  animation: text-writing 1s linear 1 forwards;
  animation-delay: ;
  animation: ;
}


@keyframes text-writing {

    to {
        stroke-dashoffset: 0; 
    }
} 
